@font-face {
	font-family: "Besom";
	src: url("besom.ttf");
}

body {
	font-family: "Raleway", "Open Sans", Helvetica, sans-serif;
	font-weight: 300;
}

b {
	font-weight: 500;
}

.mb60 {
	margin-bottom: 60px;
}

.mt40 {
	margin-top: 40px;
}

.mt60 {
	margin-top: 60px;
}

.mt100 {
	margin-top: 100px;
}

.jumbotron {
	background-color: #ffffff;
}

.intro-header {
	display: block;
	margin: 0 auto;
	padding: 70px 0;
	color: #666;
	/*background: url("psg-man.png") no-repeat bottom right;*/
	background-size: 350px;

}
.intro-header h4 {
	letter-spacing: 2px;
	font-weight: 700;
	color: #ffb03b;
	margin-bottom: 30px;
}

.intro-header h1 {
	font-size: 7rem;
	margin-bottom: 30px;
	color: #ffb03b;
}

.intro-header p {
	width: 65%;
	margin: 0 auto;
}

.jumbotron {
	margin-bottom: 0;
}

.jumbotron .image-full {
	padding-right: 0px;
}

.jumbotron .featurette .left-column {
	padding-left: 100px;
}
.featurette h2, .marketing h2 {
	font-family: "Besom";
	font-size: 5rem;
	color: #ffb03b;
	font-weight: 700;
	margin-bottom: 30px;
}

.featurette h3, .marketing h2 {
	font-family: "Raleway";
	font-size: 3rem;
	font-weight: 700;
}

.featurette .text-muted {
	font-family: "Raleway";
	font-size: 3rem;
	color: #ffb03b;
	font-weight: 700;
}

.featurette .text-navy {
	color: #323073;
}

.featurette-full h2 {
	margin-top: 40px;
	margin-bottom: 60px;
}

.featurette-full .featurette-image {
	margin-bottom: 40px;

}

.jumbotron .featurette-full p {
	margin: 10px 0 60px;
}

.featurette-yellow h2, .featurette-yellow .text-muted{
	color:#323073;
}
